name: Release

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - run: yarn
      - run: yarn lint

  test:
    needs: lint
    runs-on: ubuntu-latest
    if: ${{ false }}
    strategy:
      matrix:
        node: [ '16', '18' ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: yarn
      - run: yarn test

  staging:
    needs: lint
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - run: yarn
      - run: yarn build

      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.DEV_GCR_KEYFILE }}'

      - id: 'upload-folder'
        uses: 'google-github-actions/upload-cloud-storage@v1'
        with:
          path: '/dist'
          destination: '${{ env.DEV_ASSETS_BUCKET }}/${{ github.repository }}/'
          glob: '*.js'

  publish:
    needs: lint
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - run: yarn
      - run: yarn build

      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.PROD_GCR_KEYFILE }}'

      - id: 'upload-folder'
        uses: 'google-github-actions/upload-cloud-storage@v1'
        with:
          path: '/dist'
          destination: '${{ env.PROD_ASSETS_BUCKET }}/${{ github.repository }}/'
          glob: '*.js'
